.Rproj.user
.Rhistory
.RData
.Ruserdata

r.packages.tutorials.Rproj

# According to chatGPT, this .gitignore line will match any
# subdirectory under inst/tutorials/ except for data, images or those
# ending in .Rmd.

inst/tutorials/[^/]*/(?!(data|images|.*Rmd))

# But, given the above, why do we need these two lines? We shouldn't!

inst/tutorials/*/*html

inst/tutorials/*/*_files/

# The simple name of a file ignores that file wherever it might appear.

.DS_Store

